.app.dark {
    --bg-color: #0F0920;
    --inverted-bg-color: #F2F0FF;
    --primary-color: #0368FF;
    --secondary-color: #FF3E95;
    --inverted-primary-color: #5899FF;
    --inverted-secondary-color: #0452ff;

    /* skeleton */
    --skeleton-color: #1515ad;
    --skeleton-shadow: #2b2be8;

    /* code */
    --code-bg: #1212a1;

    /* card */
    --card-bg: #0d0d6b;

    /* listbox */
    --listbox-bg: #0d0d6b;
}